<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Forside</title>
    <div th:replace="Header :: header"/>

</head>
<body>
<div th:replace="Header :: nav-bar"/>

<div class="content">
    <div class="container" style="margin-top:30px;">
        <div class="row">
            <div class="col-sm-4">
                <h2>About Me</h2>
                <img src="https://via.placeholder.com/350x200?text=SoMe+Billede" alt="SoMe billede" class="fluid-img"/>
                <p>Mit navn ... alder ... intresse .... hvorfor jeg startede.... </p>
                <h3>Social media links</h3>
                <p>Følg mig på de sociale media</p>

                <hr class="d-sm-none">
            </div>
            <div class="col-sm-8">
                <h2>ARTIKEL OVERSKRIFT</h2>
                <h5>Title description, Dec 7, 2017</h5>
                <img src="https://via.placeholder.com/730x200" alt="artikkel billede"/>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                <br>
                <h2>ARTIKEL OVERSKRIFT</h2>
                <h5>Title description, Sep 2, 2017</h5>
                <img src="https://via.placeholder.com/730x200" alt="artikkel billede"/>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron text-center" style="margin-bottom:0" id="footer">
    <p>Footer</p>
</div>

</body>
<script th:src="@{/nav-script.js}"></script>
</html>
