<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Podcasts</title>

    <div th:replace="Header :: header"/>

    <script src="../static/nav-script.js"></script>
</head>
<body>

<div th:replace="Header :: nav-bar"/>

<div class="container">

    <div th:each="Podcast : ${podcasts}">
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

            <!--Grid column-->
            <div class="col-lg-5 col-xl-4 mb-4 mt-4">
                <!--Featured image-->
                <div class="view overlay rounded z-depth-1-half">
                    <div class="view overlay">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" th:src="@{podcasts.url}" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4 mt-4">
                <p class="grey-text" th:text="${podcast.description}"/>
                <a th:href="@{podcasts.url}" target="_blank" class="btn btn-primary btn-md waves-effect waves-light">Start tutorial
                    <i class="fa fa-play ml-2"></i>
                </a>
            </div>
            <!--Grid column-->

        </div>
        <hr>
    </div>
</div>

</body>
</html>