<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>News</title>
    <div th:replace="Header :: header"/>


</head>
<body>
    <div th:replace="Header :: nav-bar"/>

    <div class="container">
        <div th:each="news : ${news}">


            <a href="/fodbold/nyheder/tottenham-forlaenger-med-talentfuld-back/" onclick="">
                <div class="news_block standard_box">
                    <img class="photo" src="https://mobil.bold.dk/picture/490x/art119266.jpg">
                    <div class="headline">
                        Schmeickel er en mur! <span></span>
                        <div class="ingress">
                            Messi drømmer om at score på Schmeickel                            </div>
                    </div>
                </div>
            </a>


        </div>




    </div>

</body>
</html>