<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Sort på Hvidt - Blog</title>
    <div th:replace="Header :: header"/>

</head>
<body>
<div th:replace="Header :: nav-bar"/>

<div class="content">



                <form method="post" th:action="@{/blog/submitBlog}">
                    <p>Titel:</p>
                    <input type="text" th:field="${blogEntry.title}">
                    <br>
                    <br>
                    <textarea name="content" rows="10" cols="30" th:field="${blogEntry.content}"/>
                    <input type="submit" value="Send"/>
                </form>



</div>
<div class="jumbotron text-center" style="margin-bottom:0" id="footer">
    <p>Footer</p>
</div>

</body>
<script th:src="@{/nav-script.js}"></script>
</html>
