<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Sort på Hvidt - Blog</title>
    <div th:replace="Header :: header"/>

</head>
<body>
<div th:replace="Header :: nav-bar"/>

<div class="content">

                <form method="post" th:action="@{/submitPodcast}">
                    <p>Overskrift:</p>
                    <input type="text" th:field="${podcast.overskrift}">
                    <br>
                    <p>Hyperlink:</p>
                    <input type="text" th:field="${podcast.url}">
                    <br>
                    <p>Beskrivelse:</p>
                    <input type="text" th:field="${podcast.description}">
                    <input type="submit" value="Send"/>
                </form>

</div>
<div class="jumbotron text-center" style="margin-bottom:0" id="footer">
    <p>Footer</p>
</div>

</body>
<script th:src="@{/nav-script.js}"></script>
</html>
